// Importa o estilo do form-cadastro para manter consistência
@import '../form-cadastro/form-cadastro.component.scss';

// Estilo específico para o botão de excluir
.warnButton {
  background-color: #8b0000 !important;
  
  &:hover {
    background-color: #a52a2a !important;
  }
}

// Ajuste para os selects
select.inputCachorroContainer {
  padding: 8px;
  border: 1px solid #5b2828;
  border-radius: 6px;
  background-color: #fcacac;
  color: #5b2828;
  font-size: 1rem;
  width: 100%;
}

// Ajuste para os inputs
input.inputCachorroContainer {
  padding: 8px;
  border: 1px solid #5b2828;
  border-radius: 6px;
  background-color: #fcacac;
  color: #5b2828;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}