<h2>Detalhes do Horário</h2>
<div *ngIf="horario">
  <p><strong>Pet:</strong> {{ horario.cachorro?.nome }}</p>
  <p><strong>Tutor:</strong> {{ horario.cachorro?.nomeTutor }}</p>
  <p><strong>Raça:</strong> {{ horario.cachorro?.raca }}</p>
  
  <p>
    <strong>Contato:</strong>
    <a [href]="whatsappLink" target="_blank" rel="noopener">
      {{ horario.cachorro?.contatoTutor }}
    </a>
  </p>

  <p>
    <strong>Endereço:</strong>
    <a [href]="enderecoGoogleMaps" target="_blank" rel="noopener">
      {{ enderecoCachorro }}
    </a>
  </p>

  <p><strong>Data:</strong> {{ horario.data | date: "dd/MM/yyyy HH:mm" }}</p>

  <p>
    <strong>Serviços:</strong>
    {{ horario.servicoBaseSelecionado }}
    <span *ngIf="horario.adicionais?.length">
      - {{ horario.adicionais.join(", ") }}
    </span>
  </p>
  <hr />
  <p><strong>Valor total:</strong> R$ {{ horario.valorTotal.toFixed(2) }}</p>

  <div class="buttons">
    <button *ngIf="!mostrarConcluidos" (click)="editarHorario()">Editar</button>
    <button
      *ngIf="!mostrarConcluidos"
      class="warnButton"
      (click)="concluirHorario()"
    >
      Concluir
    </button>
  </div>
</div>