mat-table, mat-paginator {
  overflow: hidden;
  background-color: #fcacac;
  box-shadow: none;
}
mat-header-cell{
  font-weight: bold;
}

*{
  font-size:medium;
}
.filtros {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1;
    min-width: 200px;
    max-width: 200px;
  }

  button {
    height: 56px; // Para alinhar com os inputs
  }
}
.resizer {
  width: 5px;
  background-color: #ccc;
  cursor: col-resize;
  transition: background-color 0.2s;
  
  &:hover, &.resizing {
    background-color: #b65151;
  }
}

.left-pane, .right-pane {
  overflow: auto;
  transition: none; // Remove transição para não atrapalhar o resize
}

@media (max-width: 419px) {
  .filtros{
    gap: 0;
    
    .mat-form-field{
      width: 100%;
    }
  }
}